:root.theme-dark {
  --background-image: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --button-text-color: #FF0070;
  --border-color: #FF0070;
  --hover-color: #FF007066;
  --outline-color: #FF0070;
  --header-title-color: #DB00FF;
  --paragraph-decor-color: #000028;
  --main-content-title-color: #FF0070;
}

.theme-dark .header__rec-title {
  display: block;
}