:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --background-color: #FFF1F7;
  --text-color: #353430;
  --accent-color: #FF8DCB;
  --header-title-color: #FFC2E6;
  --button-text-color: #353430;
  --border-color: #353430;
  --hover-color: #32312D66;
  --outline-color: #32312D66;
  --paragraph-decor-color: #353430;
  --main-content-title-color: #353430;
}

.theme-light .header__rec-title {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url(../images/cover-image-light.png);
    --background-color: #FFF1F7;
    --text-color: #353430;
    --accent-color: #FF8DCB;
    --header-title-color: #FFC2E6;
    --button-text-color: #353430;
    --border-color: #353430;
    --hover-color: #32312D66;
    --outline-color: #32312D66;
    --paragraph-decor-color: #353430;
    --main-content-title-color: #353430;
  }

  .header__rec-title {
    display: none;
  }
}